p {
  margin: 8px 0;
  font-size: large;
}

.summary-wrapper {
  gap: 16px;
  position: sticky;
  z-index: 1;
  top: 38px;

  background: rgba(from var(--tui-background-base) r g b / 70%);
  backdrop-filter: blur(8px);
}
