<tui-axes class="axes" [axisXLabels]="labelsX" [axisYLabels]="labelsY">
  <tui-bar-chart [value]="valueTest" [tuiHintContent]="hint" />
</tui-axes>

<!--<tui-axes class="axes" [horizontalLines]="2" [axisYLabels]="axisYLabels" [tuiLineChartHint]="hintContent" [verticalLines]="4">-->
<!--  <tui-line-chart-->
<!--    [dots]="true"-->
<!--    [height]="200"-->
<!--    [value]="value"-->
<!--    [width]="400"-->
<!--    [x]="0"-->
<!--    [filled]="true"-->
<!--    [xStringify]="stringify"-->
<!--    [y]="0"-->
<!--    [yStringify]="stringify" />-->
<!--</tui-axes>-->
