.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  padding: 1em 2em 0 2em;
  gap: 2em;
}

.card {
  scroll-margin: 20px;
  width: clamp(45ch, 40%, 60ch);
  &:nth-last-child(2) {
    margin-bottom: 0;
  }
}

@media all and (max-width: 600px) {
  .card {
    width: 100%;
  }
}

.no-active-scraped-watches {
  font-size: large;
  font-weight: bold;
}

.mat-mdc-card-title {
  padding: 1em;
}

section {
  display: flex;
  block-size: 3.125rem;
  border-radius: 0.75rem;
  justify-content: center;
  align-items: center;
  color: var(--tui-text-secondary);
  border: 1px dashed;
}

.label {
  font: var(--tui-font-text-l);
}
