:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  padding: 1em;
  gap: 2em;
}

h1 {
  color: var(--tui-status-positive);
}

.card {
  scroll-margin: 20px;
  width: clamp(45ch, 40%, 60ch);
  &:nth-last-child(2) {
    margin-bottom: 0;
  }
}

@media all and (max-width: 600px) {
  .card {
    width: 100%;
  }
}
