<form [formGroup]="changePasswordForm">
  <h2 style="margin-top: 0; margin-bottom: 45px">Ändra lösenord</h2>

  @let controls = changePasswordForm.controls;

  <p>
    <tui-textfield>
      <label [for]="controls.currentPassword" tuiLabel>Befintligt lösenord</label>

      <input name="currentPassword" type="password" tuiTextfield autocomplete="off" [formControl]="controls.currentPassword" />
    </tui-textfield>

    <tui-error [formControl]="controls.currentPassword" [error]="[] | tuiFieldError | async" />
  </p>

  <p>
    <tui-textfield>
      <label [for]="controls.newPassword" tuiLabel>Nytt lösenord</label>

      <input name="newPassword" type="password" tuiTextfield autocomplete="off" [formControl]="controls.newPassword" />
    </tui-textfield>

    <tui-error [formControl]="controls.newPassword" [error]="[] | tuiFieldError | async" />
  </p>

  <p>
    <tui-textfield>
      <label [for]="controls.confirmNewPassword" tuiLabel>Bekräfta lösenord</label>

      <input name="confirmNewPassword" type="password" tuiTextfield autocomplete="off" [formControl]="controls.confirmNewPassword" />
    </tui-textfield>

    <tui-error [formControl]="controls.confirmNewPassword" [error]="[] | tuiFieldError | async" />
  </p>

  <div class="flex" style="justify-content: end; padding-top: 16px">
    <button tuiButton type="button" appearance="action-grayscale" (click)="context.completeWith(undefined)" style="margin-right: 10px">
      Avbryt
    </button>

    <button
      tuiButton
      type="button"
      [disabled]="changePasswordForm.invalid"
      [loading]="changePasswordLoading()"
      (click)="submitChangePassword()">
      Ändra lösenord
    </button>
  </div>
</form>
