<h1 mat-dialog-title>API Status</h1>
@if (apiStatus(); as status) {
  <div mat-dialog-content>
    <h4>
      Scraping interval:
      <i>{{ status.scrapingIntervalInMinutes }} minutes</i>
    </h4>
    <h4>Uptime</h4>
    <div style="margin-left: 1em">
      <p>Years: {{ status.uptime.years }}</p>
      <p>Months: {{ status.uptime.months }}</p>
      <p>Days: {{ status.uptime.days }}</p>
      <p>Hours: {{ status.uptime.hours }}</p>
      <p>Minutes: {{ status.uptime.minutes }}</p>
      <p>Seconds: {{ status.uptime.seconds | number: "1.0-0" }}</p>
    </div>
  </div>
} @else {
  <div mat-dialog-content>
    <p color="accent">Loading API status...</p>
  </div>
}
