@let status = apiStatus();

<div>
  <h4>
    Interval på bevakningar:
    <i>{{ status.scrapingIntervalInMinutes }} minuter</i>
  </h4>
  <h4>
    Minnesanvändning i MB:
    <i>{{ status.memoryUsage }}</i>
  </h4>

  @for (memUsage of hejsan(); track $index) {
    <span> {{ memUsage }} |</span>
  }

  <tui-axes
    class="notifications-axes"
    [horizontalLines]="2"
    [axisXLabels]="axisXLabels"
    [axisYLabels]="axisYLabels"
    [tuiLineChartHint]="hintContent"
    [verticalLines]="4">
    <!-- TODO: Ändra till hejsan() sen-->
    <tui-line-chart
      [dots]="true"
      [height]="200"
      [value]="value"
      [width]="10"
      [x]="0"
      [filled]="true"
      [xStringify]="stringify"
      [y]="0"
      [yStringify]="stringify" />
  </tui-axes>

  <h4>Drifttid</h4>
  <div style="margin-left: 1em">
    <p>År: {{ status.uptime.years }}</p>
    <p>Månader: {{ status.uptime.months }}</p>
    <p>Dagar: {{ status.uptime.days }}</p>
    <p>Timmar: {{ status.uptime.hours }}</p>
    <p>Minuter: {{ status.uptime.minutes }}</p>
    <p>Sekunder: {{ status.uptime.seconds }}</p>
  </div>
</div>
