#level-1 {
  fill: #ededed;
}
#level-2 {
  fill: #c9c9c9;
}
#level-3 {
  fill: #999999;
}

tui-root[tuitheme="dark"] {
  #level-1 {
    fill: #5c5c5c;
  }
  #level-2 {
    fill: #4f4f4f;
  }
  #level-3 {
    fill: #404040;
  }
}
