<div [ngClass]="isDarkMode() ? 'header-chip-wrapper-dark' : 'header-chip-wrapper-light'">
  <div class="header-chip pointer" matTooltip="Toggle theme" (click)="onToggleTheme()">
    <mat-slide-toggle color="primary" [checked]="isDarkMode()">
      <span>Dark mode</span>
      <mat-icon class="dark-mode-icon" fontSet="material-icons-outlined"> dark_mode </mat-icon>
    </mat-slide-toggle>
  </div>

  @if (apiStatus().active; as active) {
    <div (click)="onOpenApiStatusDialog()" class="header-chip pointer" matTooltip="View API statistics">
      <div class="api-active flex flex-align-items-center">
        <mat-icon class="status-icon" color="primary"> check_circle_outline </mat-icon>
        <span class="status-text">API Status</span>
      </div>
    </div>
  } @else {
    <div class="header-chip api-inactive flex flex-align-items-center" matTooltip="API is not active">
      <mat-icon class="status-icon offline" color="warn"> highlight_off </mat-icon>
      <span class="status-text">API Status</span>
    </div>
  }
</div>
