<div class="desktop-header-wrapper" style="display: flex">
  <scraper-theme-switcher [isDarkMode]="isDarkMode()" tooltipPos="below" iconColor="white" (click)="onToggleTheme()" />

  @if (apiStatus().active; as active) {
    <div (click)="onOpenApiStatusDialog()" class="header-chip pointer" matTooltip="View API statistics">
      <div class="api-active flex flex-align-items-center">
        <mat-icon color="primary"> check_circle_outline </mat-icon>
        <span class="status-text">API</span>
      </div>
    </div>
  } @else {
    <div class="header-chip flex flex-align-items-center" matTooltip="API is not active">
      <mat-icon color="warn"> highlight_off </mat-icon>
      <span class="status-text">API</span>
    </div>
  }
</div>
