<header role="banner">
  <div>
    <mat-toolbar color="primary">
      <mat-toolbar-row class="toolbar-row">
        <a class="title-bar-link">
          <mat-icon>watch</mat-icon>
          <span class="toolbar-title">KS Web Scraper</span>
        </a>

        @if (isHandset()) {
          <scraper-mobile-menu
            [apiStatus]="apiStatus()"
            [isDarkMode]="isDarkMode()"
            (toggleTheme)="toggleTheme()"
            (openApiStatusDialog)="openApiStatusDialog()">
          </scraper-mobile-menu>
        } @else {
          <scraper-desktop-menu
            [apiStatus]="apiStatus()"
            [isDarkMode]="isDarkMode()"
            (toggleTheme)="toggleTheme()"
            (openApiStatusDialog)="openApiStatusDialog()">
          </scraper-desktop-menu>
        }
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</header>
