:host {
  position: sticky;
  top: 0;
  z-index: 1;
}

header {
  user-select: none;
}

.toolbar-title {
  font-size: x-large;
  font-weight: bold;
}

.header-logo {
  display: flex;
  align-items: center;
  color: inherit;
  padding-left: 8px;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  border-radius: 50%;
}

.header-icon {
  transform: scale(1.2);
  transition: none;
  padding: 4px;
  color: white;

  &:hover:not(tui-loader) {
    background-color: #31a57b;
    border-radius: 50%;
  }
}

.moon-icon {
  animation: fade1 0.4s ease-in-out;
}

.sun-icon {
  animation: fade2 0.4s ease-in-out;
}

@keyframes fade1 {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade2 {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
