.hejsan {
  background-color: var(--tui-status-positive);
}

header {
  user-select: none;
}

.toolbar-title {
  font-size: x-large;
  font-weight: bold;
}

.title-bar-link {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  flex-grow: 1;
}

:host {
  position: sticky;
  top: 0;
  z-index: 1;
}

.toolbar-row {
  justify-content: space-between;
  padding: 0 4px;
}

.theme-icon-wrapper {
  display: flex;
  align-items: center;
  border-radius: 50%;
}

.theme-mode-icon {
  transform: scale(1.2);
  transition: none;
  padding: 4px;
  color: white;

  &:hover {
    background-color: #31a57b;
    border-radius: 50%;
    cursor: pointer;
  }
}
