<header>
  <tui-app-bar style="background-color: var(--tui-status-positive); height: 2.5rem">
    <a class="header-logo" tuiSlot="left">
      <tui-icon icon="@tui.watch" />
      <span class="toolbar-title">KS Scraper</span>
    </a>

    <div tuiSlot="right" style="display: flex; align-items: center; gap: 16px; padding-right: 10px">
      <div tuiHint="Växla tema" class="header-icon icon-wrapper pointer">
        <tui-icon [icon]="themeIcon()" [class]="themeIcon()" (click)="toggleTheme()" (keyup)="toggleTheme()" />
      </div>

      <div>
        @if (apiStatus().status === "active") {
          <div class="header-icon icon-wrapper pointer">
            <tui-icon icon="circle-check" (click)="openApiStatusDialog()" />
          </div>
        }

        @if (apiStatus().status === "pending") {
          <tui-loader
            tuiHint="Väntar på API:et"
            class="header-icon icon-wrapper"
            style="cursor: wait"
            [inheritColor]="true"
            (click)="openApiStatusDialog()" />
        }

        @if (apiStatus().status === "inactive") {
          <div class="header-icon icon-wrapper" style="cursor: not-allowed" tuiHint="API:et är inte aktivt">
            <tui-icon icon="circle-x" style="color: var(--tui-text-negative)" />
          </div>
        }
      </div>

      <div class="header-icon icon-wrapper pointer">
        <tui-icon icon="user" [(tuiDropdownOpen)]="open" tuiDropdownAlign="right" [tuiDropdown]="dropdown" />

        <ng-template #dropdown>
          <tui-data-list>
            <tui-opt-group>
              <!--TODO: Registrera och logga in ska endast visas när man inte är inloggad -->
              <button tuiOption type="button" class="item" (click)="handleUserLogin()" (keyup.enter)="handleUserLogin()">
                Logga in / Registrera
              </button>

              <button tuiOption type="button" class="item" (click)="handleResetPassword()" (keyup.enter)="handleResetPassword()">
                Glömt lösenord
              </button>

              <!--TODO: De här ska endast visas om man är inloggad -->
              <button tuiOption type="button" class="item" (click)="handleChangePassword()" (keyup.enter)="handleChangePassword()">
                Ändra lösenord
              </button>

              <button tuiOption type="button" class="item" (click)="handleDeleteUser()" (keyup.enter)="handleDeleteUser()">
                Radera användare
              </button>

              <button tuiOption type="button" class="item" (click)="handleLogout()" (keyup.enter)="handleLogout()">
                Logga ut
                <tui-icon icon="@tui.log-out" />
              </button>
            </tui-opt-group>
          </tui-data-list>
        </ng-template>
      </div>
    </div>
  </tui-app-bar>
</header>
