<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <div class="hamburger-toolbar-wrapper">
    <!-- $event.stopPropagation förhindrar att menyn stängs vid klick -->
    <button mat-menu-item class="pointer" (click)="onToggleTheme()">
      <scraper-theme-switcher [isDarkMode]="isDarkMode()" tooltipPos="left" iconColor="primary" />
    </button>

    @if (apiStatus().active) {
      <button mat-menu-item (click)="onOpenApiStatusDialog()">
        <div matTooltip="Visa statistik för API" matTooltipPosition="left">
          <div class="flex">
            <mat-icon color="primary"> check_circle_outline </mat-icon>
            <span class="status-text">API</span>
          </div>
        </div>
      </button>
    } @else {
      <button mat-menu-item disabled>
        <div matTooltip="API:et är inte aktivt" matTooltipPosition="left" class="flex flex-align-items-center">
          <div class="flex">
            <mat-icon color="warn"> highlight_off </mat-icon>
            <span class="status-text">API</span>
          </div>
        </div>
      </button>
    }
  </div>
</mat-menu>
