.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  // max-width: 500px;
}

.card {
  width: 100%;
  margin-bottom: 8px;
  min-width: 1080px;
}

.mat-card-actions-align-end {
  align-items: center;
}

.addNewWatchButton {
  margin-top: 0.5em;
  font-size: large;
  padding: 0.5em;
}

.addIcon {
  transform: scale(1.5);
  margin-bottom: 4px;
  margin-right: 4px;
}

// .deleteIcon {
//   color: #b93a36;
// }

// .chartCardButton {
//   color: #33b0cc;
// }
