.container {
  display: flex;
  justify-content: center;
  align-items: center;
  // max-width: 500px;
}

.card {
  width: 100vw;
}

.mat-card-actions-align-end {
  align-items: center;
}

// .deleteIcon {
//   color: #b93a36;
// }

// .chartCardButton {
//   color: #33b0cc;
// }
