@use '../../../styles.scss' as style;

.card-container {
  @include style.flex-column-center;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 2em 2em 0 2em;
  gap: 2em;
}

.card {
  width: 100%;
}

.card:nth-last-child(2) {
  margin-bottom: 0;
}

.mat-card-actions-align-end {
  align-items: center;
}

// Margin on all child elements (card-actions)
mat-card-actions > * {
  margin-left: 0.5em;
}

.fab-large-screen-new-watch-button {
  position: fixed;
  bottom: 1rem; // 1em från skärmens botten
}

.fab-small-screen-new-watch-button {
  position: fixed;
  right: 1.5rem;
  bottom: 2rem; // 1em från skärmens botten
}

.new-watch-button {
  margin: 0 auto;
  padding: 0.5em 2.5em;
  font-size: large;
}

.large-add-watch-icon {
  transform: scale(1.5);
  margin-bottom: 0.1em;
  margin-right: 0.25em;
}

.small-add-watch-icon {
  transform: scale(1.75);
}

mat-slide-toggle.is-watch-active-slide-toggle {
  margin: 0.25em 1em 0 1em;
}

.delete-icon {
  color: rgb(217, 41, 35);
}

.small-card-width {
  max-width: 40%;
}

.full-card-width {
  max-width: 100%;
}

.card-mat-expansion-panel-header {
  padding-left: 0.8em;
}

.mat-card-title {
  padding-left: 0.25em;
}
