<form (ngSubmit)="onSubmit()" #newWatchForm="ngForm">
  <h2 mat-dialog-title>Add new watch</h2>
  <mat-dialog-content class="mat-typography">
    <mat-form-field appearance="outline" class="form-element">
      <mat-label>Label</mat-label>
      <input
        matInput
        type="text"
        class="form-control"
        id="label"
        required
        [(ngModel)]="newWatch.label"
        name="label"
        #label="ngModel" />
      <button
        *ngIf="newWatch.label"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="newWatch.label = ''">
        <mat-icon>close</mat-icon>
      </button>
      <mat-hint><h5>Enter a label</h5></mat-hint>
      <mat-error *ngIf="label.invalid">
        <h5>Label is required</h5>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Link</mat-label>
      <input
        matInput
        type="text"
        class="form-control"
        id="uri"
        required
        [(ngModel)]="newWatch.uri"
        name="uri"
        [pattern]="urlPattern"
        #uri="ngModel" />
      <button
        *ngIf="newWatch.uri"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="newWatch.uri = ''">
        <mat-icon>close</mat-icon>
      </button>
      <mat-hint><h5>Enter link to search page</h5></mat-hint>
      <mat-error *ngIf="uri.errors?.['required']">
        <h5>Watch link is required</h5></mat-error
      >
      <mat-error *ngIf="uri.touched && uri.errors?.['pattern']">
        <h5>Watch link not valid</h5></mat-error
      >
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-flat-button mat-dialog-close="cancelClicked" color="accent">
      Cancel
    </button>
    <button
      mat-flat-button
      color="primary"
      type="submit"
      class="btn btn-success"
      [disabled]="!newWatchForm.form.valid">
      Save
    </button>
  </mat-dialog-actions>
</form>
