<h2 mat-dialog-title>Add new watch</h2>
<form [formGroup]="form" (ngSubmit)="saveWatch()">
  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Label</mat-label>
      <input matInput formControlName="label" required [(ngModel)]="label" />
      <button
        mat-button
        *ngIf="label"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="label = ''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Watch Link</mat-label>
      <input matInput formControlName="uri" required [(ngModel)]="uri" />
      <button
        mat-button
        *ngIf="uri"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="uri = ''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-flat-button mat-dialog-close="cancelClicked" color="accent">
      Cancel
    </button>
    <button mat-flat-button color="primary">Save</button>
  </div>
</form>
