@use '../../../styles.scss' as style;

.form-element {
  padding: 0.25em 0 1.5em 0;
}

// Löser problemet med att knappar inte hamnar längst ned.
// Se: https://github.com/angular/components/issues/4609
form {
  @include style.flex-column;
  height: 100%;
}

mat-dialog-content {
  flex-grow: 1;
}
