<form [formGroup]="watchForm">
  <h2 style="margin-top: 0; margin-bottom: 45px">Skapa ny bevakning</h2>
  <p>
    <tui-textfield>
      <label [for]="watchForm.controls.label" tuiLabel>Namn</label>

      <input tuiTextfield [formControl]="watchForm.controls.label" />
    </tui-textfield>

    <tui-error [formControl]="watchForm.controls.label" [error]="[] | tuiFieldError | async" />
  </p>

  <p>
    <tui-textfield>
      <label [for]="watchForm.controls.watchToScrape" tuiLabel>Klocka att bevaka</label>

      <input tuiTextfield [formControl]="watchForm.controls.watchToScrape" />
    </tui-textfield>

    <tui-error [formControl]="watchForm.controls.watchToScrape" [error]="[] | tuiFieldError | async" />
  </p>

  <div class="flex" style="justify-content: end; padding-top: 16px">
    <button tuiButton type="button" appearance="action-grayscale" (click)="cancelClicked()" style="margin-right: 16px">Avbryt</button>

    <button
      tuiButton
      type="button"
      appearance="primary"
      [disabled]="watchForm.invalid"
      [loading]="newWatchLoading()"
      (click)="submitNewWatch()">
      Spara
    </button>
  </div>
</form>
