.notifications-axes {
  inline-size: auto;
  height: 250px;
  color: var(--tui-status-positive);
}

h3 {
  font-weight: normal;
}

.status-dialog-card {
  margin-top: 1.5rem;

  > h3 {
    margin: 0;
  }
}
