@let apiStat = apiStatus();

@if (apiStat.status === "active") {
  <div>
    <h3>
      Interval på bevakningar:
      <i>{{ apiStat.scrapingIntervalInMinutes }} minuter</i>
    </h3>

    <hr style="margin-top: 24px" />

    <h3>Minnesanvändning i MB</h3>

    <tui-axes
      class="notifications-axes"
      [horizontalLines]="2"
      [axisYLabels]="axisYLabels()"
      [tuiLineChartHint]="hintContent"
      [verticalLines]="4">
      <tui-line-chart [value]="chartValueSig()" [height]="chartHeight()" [x]="xStartValue()" [filled]="true" [width]="20" />
    </tui-axes>

    <hr style="margin-top: 24px" />

    <h4>Drifttid</h4>
    <div style="margin-left: 1em">
      <p>År: {{ apiStat.uptime.years }}</p>
      <p>Månader: {{ apiStat.uptime.months }}</p>
      <p>Dagar: {{ apiStat.uptime.days }}</p>
      <p>Timmar: {{ apiStat.uptime.hours }}</p>
      <p>Minuter: {{ apiStat.uptime.minutes }}</p>
      <p>Sekunder: {{ apiStat.uptime.seconds }}</p>
    </div>
  </div>
} @else if (apiStat.status === "pending") {
  <p style="cursor: wait">Väntar på API:et</p>
} @else {
  <p style="color: var(--tui-text-negative)">API:et är inte aktivt</p>
}
