@let apiStat = apiStatus();
@let uptime = apiStatus().uptime;

@if (apiStat.status === "active") {
  <div>
    <div tuiCardLarge tuiAppearance="floating" class="status-dialog-card">
      <h3>
        Interval på bevakningar:
        <i>{{ apiStat.scrapingIntervalInMinutes }} minuter</i>
      </h3>
    </div>

    <div tuiCardLarge tuiAppearance="floating" class="status-dialog-card">
      <h3>Minnesanvändning i MB</h3>

      <tui-axes
        class="notifications-axes"
        [tuiLineChartHint]="hintContent"
        [axisYLabels]="axisYLabels()"
        [horizontalLines]="3"
        [verticalLines]="4">
        <tui-line-chart [value]="chartValue()" [height]="chartHeight()" [x]="xStartValue()" [filled]="true" [width]="20" />
      </tui-axes>
    </div>

    <div tuiCardLarge tuiAppearance="floating" class="status-dialog-card">
      <h3>Drifttid</h3>

      <div style="margin-left: 1em">
        <p>År: {{ uptime.years }}</p>
        <p>Månader: {{ uptime.months }}</p>
        <p>Dagar: {{ uptime.days }}</p>
        <p>Timmar: {{ uptime.hours }}</p>
        <p>Minuter: {{ uptime.minutes }}</p>
        <p>Sekunder: {{ uptime.seconds }}</p>
      </div>
    </div>
  </div>
} @else if (apiStat.status === "pending") {
  <p style="cursor: wait">Väntar på API:et</p>
} @else {
  <p style="color: var(--tui-text-negative)">API:et är inte aktivt</p>
}
