<div style="min-height: 100vh; display: flex; flex-direction: column">
  <scraper-header />

  <main style="flex: 1; margin-bottom: 60px">
    <scraper-summary [watches]="watches()"></scraper-summary>

    <scraper-card [watches]="watches()"></scraper-card>

    <!-- TODO: Bryt ut till komponent? -->
    <div style="position: fixed; right: 1.5rem; bottom: 2rem" matTooltip="Skapa ny bevakning" matTooltipPosition="left">
      <button mat-fab color="primary" (click)="openNewWatchDialog()">
        <mat-icon style="transform: scale(1.75)">add</mat-icon>
      </button>
    </div>
  </main>

  <scraper-footer></scraper-footer>
</div>
