.toolbarTitle {
  font-size: x-large;
}

.spacer {
  flex: 1 1 auto;
}

.titlebarLink {
  display: flex;
  align-items: center;
}

.apiStatus {
  padding: 0.1em;
}

.checkIcon {
  padding: 0.2em 0.5em;
}

.iconMarginRight {
  margin-right: 5px;
}
