<tui-icon icon="trash-2" (click)="deleteWatch()" style="color: var(--tui-text-negative)" class="pointer" />

<tui-badged-content (click)="showNotifications()">
  <tui-badge size="m" tuiSlot="top" [style.background-color]="numberOfNotificationsIconColor()">
    {{ numberOfNotifications() }}
  </tui-badge>

  <tui-icon icon="chart-column" tuiHintDirection="top" style="color: var(--tui-text-secondary)" />
</tui-badged-content>

<input
  (change)="toggleActiveStatus(watch())"
  [ngModel]="active()"
  [showIcons]="false"
  size="m"
  style="--t-bg: var(--tui-status-positive)"
  tuiHint="Växla aktiv status"
  tuiHintDirection="top"
  tuiSwitch
  type="checkbox" />
