.watchIcon {
  margin-right: 5px;
  vertical-align: middle;
}

.addNewWatchButton {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2.5em;
}

.addIcon {
  transform: scale(2.5);
}

.toolbarTitle {
  vertical-align: middle;
  font-size: x-large;
}
