@for (watch of watches(); track watch.id) {
  <div tuiAppearance="floating" tuiCardLarge class="card" [@fadeInAnimation]="'in'">
    <header tuiHeader>
      <h1 style="margin-top: 4px; margin-bottom: 0; color: var(--tui-status-positive); line-height: normal">{{ watch.label }}</h1>
    </header>

    <section style="display: unset; height: auto; border-style: none">
      <p>
        <strong>Senaste notisen skickades:</strong>
        {{ watch.lastEmailSent ? (watch.lastEmailSent | date: cardDateFormat) : "Ingen notis skickad" }}
      </p>

      <p><strong>Tillagd: </strong> {{ watch.added | date: cardDateFormat }}</p>

      <p>
        <strong>Vald sökning: </strong>
        <a target="_blank" class="link" style="line-break: anywhere" [tuiHint]="watch.watchToScrape" [href]="watch.watchToScrape">
          Länk till Klocksnack.se
        </a>
      </p>

      <p>
        <strong>Senaste klockan: </strong>
        <a target="_blank" class="link" [href]="watch.latestWatch.link">{{ watch.latestWatch.name }}</a>
      </p>
    </section>

    <footer>
      <scraper-bevakningar-card-actions [watch]="watch" [active]="watch.active" />
    </footer>
  </div>
} @empty {
  <div style="font-size: large; font-weight: bold">Inga aktiva bevakningar</div>
}
