/* You can add global styles to this file, and also import other style files */

/*#region mixing*/
@mixin flex-and-column {
  display: flex;
  flex-direction: column;
}

/*#endregion */

/*#region variables colors*/
$primary-color: #33cccc;
$primary-accent-color-light: #d7d7d7;
$link-color: #2c7ae0;

/*#endregion */

/*#region colors*/
$input-red: rgb(255, 0, 0);

/*#endregion */

/*#region html, body, main, content*/
html,
body {
  height: 100%;
}

body {
  margin: 0;
}

// Make the Component injected by Router Outlet full height:
main {
  @include flex-and-column;
  > *:not(router-outlet) {
    flex: 1;
    display: block;
  }
}

.content {
  flex: 1;
}
/*#endregion */

/*#region sidenav*/
.sidenav-container {
  height: 100%;
}

/*#endregion */

/*#region toolbar*/
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 2;
}

.mat-toolbar {
  vertical-align: middle;
}
/*#endregion */

/*#region links*/
// .link:link,
// .link:visited {
//   color: $link-color;
//   text-decoration: none;
// }

a {
  color: inherit;
  text-decoration: none;
}

// a:hover {
//   color: rgb(63, 63, 63);
// }
/*#endregion */

/*#region tooltip*/
.mat-tooltip.tooltip {
  font-size: 1em;
}
/*#endregion */

/*#region snackbar*/
.success-snackbar {
  background: #58c44a;
}

.info-snackbar {
  background: $primary-accent-color-light;
}
/*#endregion */

/*#region form*/
mat-form-field {
  width: 100%;
}

input {
  text-overflow: ellipsis;
}

.mat-error,
.mat-form-field.mat-form-field-invalid .mat-form-field-label,
.mat-form-field.mat-form-field-invalid
  .mat-form-field-label
  .mat-form-field-required-marker {
  color: $input-red;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
  background-color: $input-red;
}

/*#endregion */
