html,
body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

input {
  text-overflow: ellipsis;
}

.pointer {
  cursor: pointer;

  & * {
    cursor: pointer;
  }
}

hr {
  margin: 0;
  block-size: 1px;
  border: none;
  background: var(--tui-border-normal);
}
