:root {
  --tui-background-accent-1: var(--tui-status-positive);
  --tui-background-accent-1-hover: var(--tui-status-positive-pale-hover);
  --tui-background-accent-1-pressed: var(--tui-text-positive-hover);

  [tuiAppearance][data-appearance="flat"],
  [tuiAppearance][data-appearance="secondary"] {
    color: var(--tui-text-positive);
  }
}

::selection {
  background-color: #d6d6d6;
}

tui-root[tuitheme="dark"] {
  ::selection {
    background-color: #696969;
  }
}
