<header role="banner">
  <div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <a class="title-bar-link">
          <mat-icon class="icon-margin-right">watch</mat-icon>
          <span class="toolbar-title">KS Web Scraper</span>
        </a>
        <!-- TODO: Behövs spacer? Går det inte att använda flexbox med space between? -->
        <span class="spacer"> </span>

        @if (isHandset()) {
          <ks-scraper-mobile-menu
            [apiStatus]="apiStatus()"
            [isDarkMode]="isDarkMode()"
            (toggleTheme)="toggleTheme()"
            (openApiStatusDialog)="openApiStatusDialog()">
          </ks-scraper-mobile-menu>
        } @else {
          <ks-scraper-desktop-menu
            [apiStatus]="apiStatus()"
            [isDarkMode]="isDarkMode()"
            (toggleTheme)="toggleTheme()"
            (openApiStatusDialog)="openApiStatusDialog()">
          </ks-scraper-desktop-menu>
        }
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</header>
