@use '../../../../styles.scss' as style;

.toolbar-title {
  font-size: x-large;
}

.title-bar-link {
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

.api-status-card-wrapper {
  @include style.flex-row-center;
  height: 2em;
  padding: 0.25em 1em;
}

.dark-mode-card-wrapper {
  @include style.flex-row-center;
  height: 2em;
  padding: 0.25em 0 0.25em 0.75em;
  margin-right: 0.5em;
  cursor: pointer;
}

.hamburger-toolbar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.api-active,
.api-inactive {
  @include style.flex-row-center;
}

.status-text {
  margin: 0 0.5em;
  font-size: medium;
  user-select: none;
}

.status-icon.offline {
  color: rgb(217, 41, 35);
}

.icon-margin-right {
  margin-right: 0.25em;
}

.dark-mode-icons {
  transform: scale(0.8);
  margin-left: 0.25em;
}

.header-chip {
  margin-left: 12px;
  padding: 8px;
  border-radius: 15px;
}

.header-chip-wrapper-dark {
  display: flex;
  .header-chip {
    background-color: #414141;
  }
  span {
    color: #fff;
  }
}

.header-chip-wrapper-light {
  display: flex;
  .header-chip {
    background-color: #fff;
  }
  span {
    color: #000;
  }
}
