<header role="banner">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <a class="title-bar-link" [routerLink]="['/']">
        <mat-icon class="icon-margin-right">watch</mat-icon>
        <span class="toolbar-title">KS Web Scraper</span>
      </a>
      <span class="spacer"></span>
      <div [hidden]="!showHamburgerMenu">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu">
          <mat-icon>menu</mat-icon>
        </button>
        <!-- Start hamburgermeny -->
        <mat-menu #menu="matMenu">
          <div class="hamburger-toolbar-wrapper">
            <button
              mat-menu-item
              (click)="$event.stopPropagation()"
              matTooltip="Toggle theme"
              matTooltipPosition="left">
              <mat-slide-toggle
                (click)="toggleTheme()"
                color="primary"
                [(ngModel)]="isDarkMode">
                Dark mode
                <mat-icon
                  class="dark-mode-icons"
                  fontSet="material-icons-outlined">
                  dark_mode
                </mat-icon>
              </mat-slide-toggle>
            </button>
            <button
              mat-menu-item
              *ngIf="
                (apiStatus$ | async)?.active as active;
                else hamburgerApiNotActive
              ">
              <div
                matTooltip="View API statistics"
                matTooltipPosition="left"
                (click)="active ? openApiStatusDialog() : ''">
                <mat-icon class="status-icon" color="primary">
                  check_circle_outline
                </mat-icon>
                <span class="status-text">API Status</span>
              </div>
            </button>
            <!-- API:et är inte aktivt. Länken ska vara inaktiverad  -->
            <ng-template #hamburgerApiNotActive>
              <button mat-menu-item disabled>
                <div
                  matTooltip="API is not active"
                  matTooltipPosition="left"
                  class="api-inactive">
                  <mat-icon class="status-icon offline" color="primary">
                    highlight_off
                  </mat-icon>
                  <span class="status-text">API Status</span>
                </div>
              </button>
            </ng-template>
          </div>
        </mat-menu>
      </div>
      <!-- Start "vanlig" meny -->
      <div [hidden]="showHamburgerMenu">
        <mat-chip-list #chipList class="toolbar-chip-list">
          <mat-chip>
            <mat-slide-toggle
              matTooltip="Toggle theme"
              class="large-slide-toggle"
              color="primary"
              (click)="toggleTheme()"
              [(ngModel)]="isDarkMode">
              Dark mode
              <mat-icon
                class="dark-mode-icons"
                fontSet="material-icons-outlined">
                dark_mode
              </mat-icon>
            </mat-slide-toggle>
          </mat-chip>
          <mat-chip>
            <div
              class="api-active"
              *ngIf="(apiStatus$ | async)?.active as active; else apiNotActive"
              matTooltip="View API statistics"
              [style.cursor]="active ? 'pointer' : 'default'"
              (click)="active ? openApiStatusDialog() : ''">
              <mat-icon class="status-icon" color="primary">
                check_circle_outline
              </mat-icon>
              <span class="status-text">API Status</span>
            </div>
            <!-- API:et är inte aktivt. -->
            <ng-template #apiNotActive>
              <div class="api-inactive" matTooltip="API is not active">
                <mat-icon class="status-icon offline" color="primary">
                  highlight_off
                </mat-icon>
                <span class="status-text">API Status</span>
              </div>
            </ng-template>
          </mat-chip>
        </mat-chip-list>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
