<form [formGroup]="resetPasswordForm">
  <h2 style="margin-top: 0; margin-bottom: 45px">Ändra lösenord</h2>

  @let controls = resetPasswordForm.controls;

  <p>
    <tui-textfield>
      <label [for]="controls.email" tuiLabel>Email</label>

      <input name="email" type="text" tuiTextfield autocomplete="off" [formControl]="controls.email" />
    </tui-textfield>

    <tui-error [formControl]="controls.email" [error]="[] | tuiFieldError | async" />
  </p>

  <div class="flex" style="justify-content: end; padding-top: 16px">
    <!--TODO:Ska cancelClicked finns i en basklass? -->
    <button tuiButton type="button" appearance="action-grayscale" (click)="cancelClicked()" style="margin-right: 16px">Avbryt</button>

    <button
      tuiButton
      type="button"
      [disabled]="resetPasswordForm.invalid"
      [loading]="resetPasswordLoading()"
      (click)="submitResetPassword()">
      Skicka
    </button>
  </div>
</form>
