<form [formGroup]="userForm">
  <h2 style="margin-top: 0; margin-bottom: 45px">{{ headerText() }}</h2>

  @if (isNewUser()) {
    <p>Har du redan ett konto?<a href="#" class="link" style="padding-left: 8px" (click)="loginUser()">Logga in</a></p>
  } @else {
    <p>Har du inget konto?<a href="#" class="link" style="padding-left: 8px" (click)="registerUser()">Registrera här</a></p>
  }

  @let controls = userForm.controls;

  <p>
    <tui-textfield>
      <label [for]="controls.email" tuiLabel>Email</label>

      <input name="email" type="email" tuiTextfield autocomplete="off" [formControl]="controls.email" />
    </tui-textfield>

    <tui-error [formControl]="controls.email" [error]="[] | tuiFieldError | async" />
  </p>

  <p>
    <tui-textfield>
      <label [for]="controls.password" tuiLabel>Lösenord</label>

      <input name="password" type="password" tuiTextfield autocomplete="off" [formControl]="controls.password" />
    </tui-textfield>

    <tui-error [formControl]="controls.password" [error]="[] | tuiFieldError | async" />
  </p>

  <div class="flex" style="justify-content: end; padding-top: 16px">
    <button tuiButton type="button" appearance="action-grayscale" (click)="context.completeWith(undefined)" style="margin-right: 10px">
      Avbryt
    </button>

    <button tuiButton type="button" [disabled]="userForm.invalid" [loading]="createUserLoading()" (click)="submitForm()">
      {{ buttonText() }}
    </button>
  </div>
</form>
